.workexperience-summary-content-container {
  display: flex;
}
.work_experience_block{
  margin-bottom:20px;
}
.work_experience_block:last-child{
  margin-bottom:0px;
}
#work_h6 {
  max-width:90%;
  display:inline-block;
}
.person-summary-body-icon-container {
  font-size:16px;
  margin-top:-4px;
}