.person-summary {
  width: 50%;
  margin: 1px auto;

}
.person-summary-body p{
  padding-left:12px;
  margin-bottom:0;
  text-indent:-12px;
  line-height: 1.2;
}
/* .person-summary-body p:first-line{
 text-indent:-10px;
  background-color:red;
} */
.person-summary-body-icon-container span:last-child {
  color: red;
}
h6 {
  margin:0px !important;
}

hr {
  margin: 8px !important;
}
.person-summary-body-icon-container{
  max-width:80px;
  float:right;
  clear:both;
  display:flex;
  width:40px;
  justify-content: space-between;
}
.person-summary-body-context-container_level_1 {
  padding-left: 24px;
  font-size:16px;
}

.person-summary-body-context-container_level_2 {
  padding-left: 36px;
  font-size:14px;
  width:90%;
}
.person-summary-body-context-container_level_3{
  padding-left: 48px;
  font-size:12px;
  width:90%;
  font-style:italic;
}
.person-summary-body-context-container {
  margin-top: 8px;
  font-size: 14px;

}
.person-summary-header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width:768px){
  .person-summary{
    width: 100%;
  }
}
